.hilbert-chart {
  position: relative;
  font-family: sans-serif;
}

.hilbert-chart .hilbert-segment path {
  fill: none;
  stroke-linecap: square;

  opacity: 1;
  transition: opacity 0.4s;
}

.hilbert-chart .hilbert-segment path:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
}

.hilbert-chart .hilbert-segment text {
  pointer-events: none;
}

.hilbert-chart .hilbert-heatmap {
  position: absolute;
  pointer-events: none;
}

.hilbert-chart .hilbert-tooltip {
  color: #eee;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 3px;
  font: 11px sans-serif;
  pointer-events: none;
}

.hilbert-chart .hilbert-tooltip.val-tooltip {
  display: none;
  position: absolute;
  margin-top: 20px;
  margin-left: -10px;
 }

.hilbert-chart .hilbert-tooltip.range-tooltip {
  display: none;
  position: absolute;
  margin-top: -12px;
  transform: translate(-50%, -100%);
}
